page-setup {
    .content {
        background-color: $light;
    }
    .toolbar-title,
    .back-button.show-back-button {
        color: $white;
    }
    ion-card {
        position: relative;
        padding: 20px;
        min-height: 320px;
        .pad {
            padding: 20px 20px 30px 20px;
        }
        h2 {
            padding-bottom: 10px;
        }
        img {
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }
    .radio-ios .radio-icon {
        border: 1px solid;
        padding: 10px;
        border-radius: 100px;
    }
    h2.choice {
        font-weight: bold;
        line-height: 1;
    }
    h3.questions-count {
        font-size: 1.4em;
        margin-top: 30px;
        font-weight: bold;
    }
    .slides-counter {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-weight: bold;
    }
    .controls {
        &.one-btn {
            margin: 0 20%;
        }
        button {
            padding: 18px;
        }
    }
    .profile-avatar {
        .grid {
            padding: 0;
        }
        img.active {
            border: 2px solid $primary;
            padding: 4px !important;
            border-radius: 50%;
        }
        .ava img {
            width: 60px;
            height: 60px;
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }
    // .radio-ios .radio-icon {
    //     width: 0;
    // }
}