page-edit-profile {
    .content {
        background-color: $light;
    }
    .round-input,
    ion-item.item.item-input.round-input {
        border: 1px solid;
        border-radius: 40px !important;
    }
    ion-item {
        height: 40px;
    }
    .grid {
        padding: 0;
        margin: 0;
    }
    ion-datetime {
        position: absolute;
        left: 40px;
        width: 100%;
    }
    ion-item.round-input {
        border-radius: 40px !important;
        width: 90%;
        margin: 10px auto;
    }
    ion-row {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    ion-item.item.item-input {
        border-radius: 40px !important;
    }
}