<ion-header>
    <ion-navbar color="white">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

        <div class="allow-location animated slideInDown" *ngIf="!locationAccess?.allowed">
            <i class="fa fa-map-marker-alt" item-start></i> {{locationAccess?.msg}}
            <button class="close-button" ion-button clear icon-only (click)="dismissLocation()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>

        <div class="allow-location animated slideInDown" *ngIf="verified">
            <i class="fa fa-lock" item-start></i> Your account is not verified
            <button class="close-button" ion-button clear icon-only (click)="dismis()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>

    </ion-navbar>
    <div class="sub-header">
        <h2 class="sub-header__title">Dashboard</h2>
    </div>
</ion-header>

<ion-content>
    <div class="top" *ngIf="profile && !isLoading">
        <div class="profile">
            <img class="profile-image animated slideInDown" src="{{profilePic}}">
        </div>
        <h2 class="animated slideInLeft">
            {{capitalizeFirstLetter(profile?.nickname)}}
            <ion-badge color="primary">{{profile?.age}}</ion-badge>
        </h2>
        <p class="animated slideInLeft">{{profile?.userType}}</p>
    </div>

    <div *ngIf="isLoading" class="top skeleton-top">
        <div class="top">
            <div class="profile" align="center">
                <ion-avatar item-start>
                    <skeleton-item class="avatar" height="60px" width="60px"></skeleton-item>
                </ion-avatar>
            </div>
            <div align="center">
                <skeleton-item height="10px" width="40%" margin-top="10px"></skeleton-item>
                <skeleton-item height="20px" width="40%"></skeleton-item>
            </div>
        </div>

        <ion-list *ngIf="isLoading" class=" user">
            <ion-item-divider color="light">Recent chats</ion-item-divider>
            <ion-card *ngFor="let user of [1,2,3]">
                <ion-item>
                    <ion-avatar item-start>
                        <skeleton-item class="avatar" height="50px" width="50px"></skeleton-item>
                    </ion-avatar>
                    <h2 class="name">
                        <skeleton-item height="10px" width="50%"></skeleton-item>
                    </h2>
                    <p item-end>
                        <i class="fa fa-chevron-right"></i>
                    </p>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>

    <ion-list *ngIf="!isLoading" class="user" [@listAnimation]="users.length">
        <ion-item-divider color="light">Recent chats</ion-item-divider>
        <ion-card *ngFor="let user of users">
            <ion-item (tap)="viewUserProfile(user)">
                <ion-avatar item-start>
                    <img [src]="getUserProfilePicture(user)">
                </ion-avatar>
                <h2 class="name">
                    {{capitalizeFirstLetter(user?.nickname)}}
                </h2>
                <p item-end>
                    <i class="fa fa-chevron-right"></i>
                </p>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="users.length < 1">
            <ion-item>
                <p>You do not have recent chats</p>
            </ion-item>
        </ion-card>
    </ion-list>

</ion-content>