page-chat {
    .content{
        background: linear-gradient(
            rgba(241, 241, 241, 0.60), 
            rgba(241, 241, 241, 0.60)
          ),
          url($bg);
    }

    .item-ios [item-start], .item-md [item-start]{
        margin: 8px 2px 8px 0;
    }

    .list-ios {
        margin: 0;
    }

    .bar-buttons-ios[end] {
        ion-icon {
            font-weight: bold;
        }
    }

    .bar-buttons-ios[end] { 
        ion-icon {
            margin-bottom: 10px;
        }
    }

    ion-buttons {
        display: inline;
        position: absolute;
        right: 0;
    }


    skeleton-item.right  {
        div{
            border-radius: 40px;
            float: right;
            margin: 10px;
        }
    }
    skeleton-item.left  {
        div{
            border-radius: 40px;
            float: left;
            margin: 10px;
        }
    }
    skeleton-item {
        margin: 20px;
    }
    
    .message-control {
        border-top: 2px solid $dark-grey;
    }

 
    .profile-pic {
        margin-top: 20px;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
    }

    ion-avatar img {
        width: 40px;
        height: 40px;
    }

    ion-footer {
        border-top: 2px solid $grey;
        ion-item {
            padding-left: 0 !important;
        }
        .item-inner {
            border-radius: 10px;
            margin: 0 5px;
        }
        ion-input {
            font-size: 14px
        }
        button {
            font-weight: bold;
        }
        .text-input {
            color: $black;
        }
    }

    ion-avatar {
        img {
            display: inline;
            width: 60px;
            height: 60px;
            padding: 4px;
            border: 3px solid $primary;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }

    .no-chats {
        text-align: center; 
        margin: 40% 0;
        height: 100px;
        .big-name {
            font-size: 26px;
            color: $primary;
            font-family: 'Pacifico', cursive;
        }
        i {
            font-size: 3em;
            margin-top: 50%;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
}
