page-profile {
 
  .profile {
    text-align: center;
    padding: 0 0 8% 0;
    background: $primary;
    .profile-image {
      border-radius: 100px;
      border: 2px solid $white;
      width: 60px;
      height: 60px;
      margin: 20px 20px 0 20px;
    } 
    .name p{
      color: $white;
    }
    .nickname {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 0;
      .badge {
        color: $primary;
        background-color: $white;
        margin-left: 4px;
      }
    }
    .userType {
      margin-top: 0;
      font-size: 1em;
    }
    .header-wave {
      border-right-color: $light-grey;
    }
  } 
  .pins {
    column-count: 2;
    .pin {
      display: inline-block;
      margin-bottom: 8px;
      img {
        border-radius: 4px;
      }
    }
    .pin-more {
      img {
        border-radius: 4px;
      }
    }
  }

  .stats {
    margin: 0 auto;
    .badge {
      padding: 4px;
      margin: 10px 4px;
      width: 70px;
      background-color: $white;
      color: $primary;
    }
  }
 
 
  .star-icon {
    font-size: 12px !important;
    color: $primary !important;
  }

  .star-icon::before {
    color: $primary !important;
    font-size: 12px !important;
  } 

  .tags {
    display: block;
    margin: 10px 0
  }

  ion-item-divider {
    ion-label {
      font-weight: bold;
    }
  }
  .no-images {
    text-align: center;;
    padding: 20px;
    font-size: 16px;
  }
  
}
