page-home {
    .content {
        background: $primary;
    }

    .brand { 
        text-align: center;
        margin: 40% 0;
        .logo {
            width: 100px;
            border: 4px solid #fff;
            padding: 10px;
            border-radius: 50%;
            height: 100px;
        }
    }

    .buttons-group {
        position: absolute;
        bottom: 40px;
        text-align: center;
        margin: 0 10px;
        .button {
            width: 200px;
            padding: 20px 0;
            font-weight: bold;
        }
    }
    
    .action-sheet-group:first-child{
        border-radius: 10px !important;
        margin: 4px;
    }
    
    .action-sheet-icon {
        font-size: 1em !important;
    }

    .button {
        background-color: $white;
        color: $primary;
    }
    
    .terms {
        margin-top: 40px;
        .button {
            font-size: .8em;
            margin: 0 !important;
            padding: 0 !important;
        }
    } 
 } 
