page-settings {
    .content {
        background-color: $primary;
    }
    .item-divider {
        font-weight: bold;
        font-size: 1.2em;
        color: $primary;
        background-color: $white;
        ion-icon {
            min-height: 0;
            font-size: 1.2em;
            line-height: 1;
        }
        .item-inner {
            margin-left: 0px !important;
        }
    }
    .settings {
        margin-top: 20px;
    }
    .logout {
        margin: 0 30%;
    }
}