page-settings {
 
    .contemt {
        background-color: $white;
    }

    .item-ios, .item-md {
        background-color: $white;
    }
    .settings {
        margin-top: 20px;
    }
    .logout {
        margin: 0 30%;
    }
}
