$primary: #e44285;
$secondary: #d559b9;
$white: #fff;
$danger: #ef6161;
$grey: #cecece;
$light: #f4f4f4;
$light-grey: #f1f1f1f1;
$dark-grey: #999;
$dark: #4d4848;
$black: #000;

$bg: '/assets/imgs/bg.png';
$wave-header: '/assets/imgs/header-bg.svg';

h2 {
    font-size: 1.2em;
    text-align: center;
    color: $dark;
}

.validation {
    color: $danger;
    font-size: .9em;
    text-align: center;
}
 
.action-sheet-title {
    color: $dark !important;
}

.action-sheet-icon {
    font-size: 1.4em !important;
    margin-right: 4px;
}

//   Header Menu
.bar-button-default-md, .bar-button-default-ios {
    color: $white;
}

.toolbar-title-md, .toolbar-title-ios {
    color: $white;
}

.action-sheet-button {
    color: $primary !important;
    font-size: 1.2em !important;
}
.action-sheet-ios .action-sheet-group {
    border-radius: 10px !important;
}

.toolbar-background {
    background-color: $primary;
}

.sub-header {
    padding-bottom: 6px; 
    background:  url('/assets/imgs/header-bg.svg') no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: $white;
    &__title {
        text-align: left;
        font-size: 21px;
        margin-left: 20px;
        margin-top: 0;
    }
    h2 {
        color: $white;
    }
} 


// .item-ios, .item-md  {
//     background-color:rgba($color: $primary, $alpha: .1)
// }

.header-md::after {
    display: none;
}
