$primary: #B00539;
$secondary: #ff9ebb;
$white: #fff;
$danger: #fb3737;
$grey: #cecece;
$light: #f4f4f4;
$light-grey: #f1f1f1f1;
$dark-grey: #999;
$dark: #4d4848;
$black: #000;
$bg: '/assets/imgs/bg.png';
$wave-header: '/assets/imgs/header-bg.svg';
$primary1: #B00539;
$primary2: #DE1B55;
$primary3: #F67A92;
$primary4: #C1C1C1;
$primary5: #F6F6F6;
//linear-gradient(to right top, $primary1, $primary2, $primary3, $primary3, $primary3)
h2 {
    font-size: 1.2em;
    text-align: center;
    color: $black;
}

.validation {
    color: $danger;
    font-size: .9em;
    text-align: center;
}

.action-sheet-title {
    color: $black !important;
}

.action-sheet-icon {
    font-size: 1.4em !important;
    margin-right: 4px !important;
}

//   Header Menu
.bar-button-default-md,
.bar-button-default-ios {
    color: $white;
}

.toolbar-title-md,
.toolbar-title-ios {
    color: $white;
}

.action-sheet-button {
    color: $primary !important;
    font-size: 1.2em !important;
}

.action-sheet-ios .action-sheet-group {
    border-radius: 10px !important;
}

.toolbar-background {
    background-color: $primary;
}

.sub-header {
    padding-bottom: 12px;
    // background:  url('/assets/imgs/header-bg.svg') no-repeat;
    background: $primary;
    background-size: cover;
    background-position-x: center;
    &__title {
        text-align: left;
        font-size: 21px;
        margin-left: 20px;
        margin-top: 0;
    }
    h2 {
        color: $white;
    }
}

.button {
    .button-small {
        width: 200px;
        padding: 20px 0;
        margin: 20px auto;
    }
    &.white {
        background: white !important;
        color: $primary !important;
    }
}

.header-md::after {
    display: none;
}

[icon-only] ion-icon {
    font-size: 2em;
}