<ion-menu [content]="content"  persistent="true" >
  <ion-content class="user-profile">
    <div *ngIf="profile" class="profile">
      <img [src]="getUserProfile(profile)" alt="profile" class="profile-picture">
      <h2>{{profile.firstname}} {{profile.lastname}}</h2>
      <p>{{profile.email}}</p>
      <p>You logged in as a {{profile.type}}</p>
    </div>
    <ion-list *ngIf="profile" class="menu">
      <ion-item menuClose ion-item icon-left *ngIf="!isServiceProvider()" (click)="nav.setRoot(pages.companiesPage)">
        <i class="fa fa-th-list"></i>
          All Companies
      </ion-item> 
      <ion-item menuClose ion-item icon-left *ngIf="isServiceProvider()" (click)="nav.setRoot(pages.myCompaniesPage)">
        <i class="fa fa-briefcase"></i>
          My Companies
      </ion-item> 
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.settingsPage)">
        <i class="fa fa-cog"></i>
          Settings
      </ion-item>
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.profilePage)">
        <i class="fa fa-user"></i>
          Profile
      </ion-item> 

    </ion-list>
  </ion-content>

  <ion-footer>
    <button ion-button block clear menuClose class="logout-button" (click)="logout()" icon-start>
      <ion-icon class="dark" name="log-out"></ion-icon>
      Logout
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>