page-intro {
    .content {
        background: $primary;
        color: $white;
    }
    .slide-zoom {
        height: 300px;
        img {
            width: 100px;
        }
    }
    .slide-text {
        margin-top: 60px;
        padding: 0 10px;
    }
    .swiper-pagination-bullet-active {
        background: white;
        width: 10px;
        height: 10px;
    }
    .primary-white {
        background-color: $white;
        color: $primary;
    }
    h2 {
        font-weight: bold;
    }
}