location-status {

    .allow-location {
        margin-top: 56px;
        padding: 20px;
        color: $white;
        text-align: center;
        background-color: $secondary;
        font-size: 1em;
        i {
            padding-right: 4px;;
        }
    }

}
