<ion-header>
  <ion-navbar color="dark"> 
    <ion-title>Hookups</ion-title>
    <ion-buttons end>
      <button ion-button (click)="filterUsers()">
        Filter
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <button ion-button (click)="addUsers()"> Add user</button>
  <button ion-button (click)="updateUser()"> Update user</button>
  <ion-list  *ngIf="isLoading">
    <ion-card *ngFor="let i of [1,2,3,4,5,6]">
      <ion-item>
        <ion-avatar item-start>
          <skeleton-item class="avatar" height="50px" margin-right="20px" margin-top="16px"  width="50px"></skeleton-item>
        </ion-avatar>
        <h2 class="name">
          <skeleton-item height="8px" width="60%" ></skeleton-item> 
        </h2>
        <p class="description">
          <skeleton-item height="8px" width="90%" ></skeleton-item>
        </p>
        <p class="distance"> 
          <span>
            <skeleton-item height="8px" margin-top="10px" width="50%"></skeleton-item>
          </span>
        </p>
        <p item-end>
          <i class="fa fa-chevron-right"></i>
        </p>
      </ion-item>
    </ion-card>
  </ion-list> 

  <ion-list *ngIf="!isLoading" class="user" [@listAnimation]="sellers.length">
    <ion-card  *ngFor="let user of sellers">
      <ion-item (tap)="viewUserProfile(user)">
        <ion-avatar item-start>
          <img src="assets/imgs/users/user1.jpg">
        </ion-avatar>
        <h2 class="name">
          {{capitalizeFirstLetter(user.nickname)}} - 
          <div class="age" color="primary">{{user?.age}}</div>
        </h2>
        <p class="description">{{user?.description}}</p>
        <!-- <p class="address"> Midrand, Gauteng </p> -->
        <p class="address">
          <i class="fa fa-map-marker" item-start></i>
          Midrand, Gauteng
        </p>
        <p item-end class="distance">          
          {{getDistance(user)}}
        </p> 
        <span item-end>
          <i class="fa fa-chevron-right"></i>
        </span>
      </ion-item>
    </ion-card>
  </ion-list> 
</ion-content>
